    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What is Align?</h2>
                <p>Almost 80% of adults will experience back pain in their lifetime with more than 90% of those never realizing the cause ever.
                    Back pain and spinal injuries are the number one cause of disability world-wide with almost north of 500 million suffering 
                    at any given time. Cost estimates for treatments and lost productive time just in the US are over $200 billion. 
                </p>
                <p>
                    We are trying to solve this problem with spinal tracking technology that can effectively monitor spinal movements and
                    shape during the course of routine activities and be able to proactively help avoid such injuries and
                    help people improve their body's performance with intelligent personalized techniques and improvements
                    during activities such as exercising.
                </p>
            </div>
        </div>
    </section>