    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ site.subtitle }}</h1>
                        <p class="intro-text">{{ site.description }}<br><br><br>
                        <p class="intro-info">{{ site.info }}
                        <p class="intro-call-to-action">{{ site.call-to-action }}<br> 
                        <p>    
                            <a href="https://spawnlabtech.typeform.com/to/FzZYJpZh" class="btn btn-default btn-lg">Sign-up Now</a>       
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
